NEXT_PUBLIC_SUPABASE_URL=https://iougvgspzbzpeuskoiyf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlvdWd2Z3NwemJ6cGV1c2tvaXlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ1MzAxOTcsImV4cCI6MjA4MDEwNjE5N30.aUT-O71lTuHyATdV_QlmvWcaeNsGI7_-KHidu6WEA3g